.container-order {
    display: flex;
    justify-content: flex-end;
    max-inline-size: 1100px;
    margin: auto;
    height: auto;
    margin-top: 36px;
    border-top: 1px solid white;
    padding-top: 16px;
    opacity: 0.6;

    p {
        margin-right: 8px;
        text-align: end;
        line-height: 26px;
    }

    .order {
        cursor: pointer;
    }

}


.header-container {
    padding: 36px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 8px;

    button {
        margin-right: 6px;
    }


}